body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav img {
    max-width: 42px;
    margin: 8px;
}

#content-image img {
    max-width: 300px;
}